NODE_ENV = 
PORT = 
MONGODB_URI = 
DATABASE_NAME = 
REDIS_URI = 
STRIPE_SECRET_KEY = 
STRIPE_WEBHOOK_SECRET = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_CLOUD_NAME = 
CLIENT_URL = 
FILE_UPLOADING_MAX_AGE = 
